@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --main-color: rgb(35, 9, 9);
    --assistant-color: rgb(97, 23, 23);
}

body{
    font-family: 'Fuzzy Bubbles', cursive;
    background-color: var(--main-color);
}

header{
    background-color: var(--assistant-color);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    letter-spacing: 5px;
    color: white;
}

.search{
    background-color: var(--main-color);
    border: 0;
    border-radius: 1rem;
    font-family: inherit;
    font-size: 1.1rem;
    color: white;
    padding: .5rem 1rem;
    margin-left: .5rem;
    width: 100%;
    transition: transform 0.3s ease-in;
}

.search:focus{
    outline: none;
    transform: scale(1.025);
}

.search::placeholder{
    color: grey;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.movie{
    width: 300px;
    margin: 1rem;
    background-color: var(--assistant-color);
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.25);
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
}

.movie img{
    width: 100%;
}

.movie-info{
    color: brown;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    letter-spacing: .5px;
}

.movie-info span{
    background-color: var(--main-color);
    padding: .25rem .5rem;
    border-radius: 1rem;
    font-size: 90%;
    font-weight: bold;
}

.movie-info span.green{
    color: lightgreen;
}

.movie-info span.orange{
    color: lightsalmon;
}

.movie-info span.red{
    color: lightcoral;
}

.overview{
    background-color: #566b84;
    color: #111;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right:0;
    max-height: 100%;
    transform: translateY(101%);
    overflow-y: auto;
    transition: transform .4s ease-in;
}

.movie:hover .overview{
    transform: translateY(0);
}

.overview h3{
    margin-bottom: .5rem;
    border-bottom: 2px solid #79b8f3;
    width: 50%;
}

footer{
    background-color: var(--assistant-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

footer h3{
    letter-spacing: 5px;
    color: white;
    margin-bottom: .5rem;
}

footer ul li{
    list-style-type: none;
    display:inline;
    margin-right:1rem;
}

footer ul li a{
    color: #1383e0;
    text-decoration: none;
    font-size: .9rem;
}

footer small{
    margin-top: .5rem;
    color: #8197a4ba;
    font-size: .8rem;
}